body {
  font-family: "Roboto", "Open Sans", "Tahoma", sans-serif;
  font-size: 16px;
  color: #283136; }
  body::-moz-selection {
    color: #fff;
    background: #fb565a; }
  body::selection {
    color: #fff;
    background: #fb565a; }

.header-top {
  background: #eee;
  margin-bottom: 75px; }

.container {
  width: 880px;
  margin: 0 auto;
  padding-top: 22px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px; }
  .container::after {
    content: '';
    display: table;
    clear: both; }

.nav-top {
  margin-bottom: 60px; }
  .nav-top::after {
    content: '';
    display: table;
    clear: both; }
  .nav-top__logo {
    width: 139px;
    height: 56px;
    float: left; }
    .nav-top__logo img {
      width: 139px;
      height: 56px; }
  .nav-top__menu {
    float: right; }

.list-nav {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  list-style: none; }
  .list-nav__item {
    display: inline-block;
    margin-right: -5px;
    margin-right: 40px; }
    .list-nav__item:last-child {
      margin-right: 0; }
    .list-nav__item a {
      font-family: "Roboto", "Open Sans", "Tahoma", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #283136;
      text-transform: uppercase;
      text-decoration: none; }
      .list-nav__item a:hover {
        color: #fb565a; }
      .list-nav__item a:active {
        color: #ababab; }
    .list-nav__item span {
      font-family: "Roboto", "Open Sans", "Tahoma", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #283136;
      text-transform: uppercase; }
  .list-nav .active {
    position: relative;
    padding-bottom: 5px; }
    .list-nav .active::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: #fb565a; }
  .list-nav .cart {
    padding-left: 30px;
    position: relative; }
    .list-nav .cart:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      display: block;
      width: 15px;
      height: 15px;
      background: url("../../img/cart-icon.png") no-repeat; }

.slider {
  margin-bottom: 70px; }
  .slider::after {
    content: '';
    display: table;
    clear: both; }
  .slider__announce {
    margin-top: 30px;
    width: 380px;
    float: left; }
  .slider__title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    color: #000000; }
    .slider__title::-moz-selection {
      color: #fff;
      background: #fb565a; }
    .slider__title::selection {
      color: #fff;
      background: #fb565a; }
  .slider__discrip {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #283136; }
    .slider__discrip::-moz-selection {
      color: #fff;
      background: #fb565a; }
    .slider__discrip::selection {
      color: #fff;
      background: #fb565a; }
  .slider__picture {
    width: 340px;
    float: right; }
    .slider__picture img {
      width: 338px;
      height: 231px; }
  .slider__btn {
    display: inline-block;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 70px;
    background: #fb565a; }
    .slider__btn:hover {
      background: #d6494d; }
    .slider__btn:active {
      background: #b63538;
      box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15); }

.services {
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee; }
  .services::after {
    content: '';
    display: table;
    clear: both; }
  .services__item {
    width: 240px;
    position: relative;
    margin-right: 80px;
    padding-top: 150px;
    float: left; }
    .services__item::before {
      content: '';
      position: absolute;
      top: 0;
      height: 122px;
      width: 240px; }
    .services__item_bg_web-sites::before {
      background: url("../../img/item-img.png") no-repeat center; }
    .services__item_bg_apps::before {
      background: url("../../img/bg-apps.png") no-repeat center; }
    .services__item_bg_presents::before {
      background: url("../../img/bg-present.png") no-repeat center; }
    .services__item:last-child {
      margin-right: 0; }
  .services__title {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px; }
  .services__descrip {
    margin: 0;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #283136; }
  .services__btn {
    display: inline-block;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 35px; }
    .services__btn_color_pink {
      background: #fb565a; }
      .services__btn_color_pink:hover {
        background: #d6494d; }
      .services__btn_color_pink:active {
        background: #b63538;
        box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15); }
    .services__btn_color_green {
      background: #00ca74; }
      .services__btn_color_green:hover {
        background: #01a25e; }
      .services__btn_color_green:active {
        background: #009053;
        box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15); }
    .services__btn_color_yellow {
      background: #efc84a; }
      .services__btn_color_yellow:hover {
        background: #d6ae2c; }
      .services__btn_color_yellow:active {
        background: #c09b24;
        box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15); }

.about-us {
  padding-bottom: 70px;
  border-bottom: 2px solid #eee;
  margin-bottom: 60px; }
  .about-us::after {
    content: '';
    display: table;
    clear: both; }
  .about-us__column-left {
    width: 580px;
    padding-right: 40px;
    float: left; }
  .about-us__column-right {
    width: 240px;
    padding: 0 10px;
    float: right; }
  .about-us__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    color: #000; }
  .about-us__discrip {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #283136; }
  .about-us__since {
    margin: 0;
    margin-bottom: 75px;
    text-align: center; }
    .about-us__since::before {
      content: '';
      display: block;
      top: 0;
      width: 230px;
      height: 77px;
      background: url("../../img/logo.png") no-repeat center; }
    .about-us__since span {
      position: relative;
      z-index: 2;
      padding: 0 10px;
      background: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 9px;
      color: #000;
      text-transform: uppercase; }
    .about-us__since::after {
      content: '';
      position: relative;
      top: -10px;
      z-index: 1;
      display: block;
      border-bottom: 2px solid #eee; }

.work {
  margin: 0;
  padding: 0;
  list-style: none; }
  .work__title {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #283136;
    text-transform: uppercase; }
  .work__item {
    position: relative;
    padding-left: 37px;
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #283136; }
    .work__item::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 25px;
      height: 2px;
      background: #fb565a; }
